@model Order
@using Microsoft.Extensions.Options
<html>
<body>
    <section  class="order-form my-4 mx-4"  style="margin-bottom:100px;" >
        <form method="post" asp-action="Checkout">
            <div class="container pt-4">

                <div class="row">
                    <div class="col-12">
                        <h1>Formular Comanda</h1>
                        <span></span>
                        <hr class="mt-1">
                    </div>
                    <div class="col-12">

                        <div class="row mx-4">
                            <div class="col-12 mb-2">
                                <label class="order-form-label">Nume</label>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input class="order-form-input" asp-for="FirstName" placeholder="Nume">
                            </div>
                            <div class="col-12 col-sm-6 mt-2 mt-sm-0">
                                <input class="order-form-input" asp-for="LastName" placeholder="Prenume">
                            </div>
                        </div>

                        <div class="row mt-3 mx-4">
                            <div class="col-12">
                                <label class="order-form-label">Adresa</label>
                            </div>
                            <div class="col-12">
                                <input class="order-form-input" asp-for="Address" placeholder="Adresa">
                            </div>

                            <div class="col-12 col-sm-6 mt-2 pr-sm-2">
                                <input class="order-form-input" asp-for="City" placeholder="Oras">
                            </div>
                            <div class="col-12 col-sm-6 mt-2 pl-sm-0">
                                <input class="order-form-input" asp-for="State" placeholder="Tara">
                            </div>

                            <div class="col-12 col-sm-6 mt-2 pr-sm-2">
                                <input class="order-form-input" asp-for="ZipCode" placeholder="Postal / Zip Code">
                            </div>
                            <div class="col-12 col-sm-6 mt-2 pl-sm-0">
                                <input class="order-form-input" asp-for="PhoneNumber" placeholder="Telefon">
                            </div>
                        </div>

                        <div class="row mt-3 mx-4">
                            <div class="col-12">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="validation" id="validation" value="1">
                                    <label for="validation" class="form-check-label">Sunt de acord cu termenii si conditiile</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12">
                                <button type="submit" id="btnSubmit" class="btn text-white d-block mx-auto" style="background-color: #A5CF39">Trimite</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </section>

    <style>

        .order-form .container {
            color: #4c4c4c;
            padding: 20px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
        }

        .order-form-label {
            margin: 8px 0 0 0;
            font-size: 14px;
            font-weight: bold;
        }

        .order-form-input {
            width: 100%;
            padding: 8px 8px;
            border-width: 1px !important;
            border-style: solid !important;
            border-radius: 3px !important;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            line-height: 1.2em;
            background-color: transparent;
            border-color: #cccccc;
        }

        .btn-submit:hover {
            background-color: #090909 !important;
        }
    </style>

</body>
</html>