@{
    ViewData["Title"] = "Home Page";
}


<div class="pt-1 row" style="margin-top:50px;">
    <div class="col">
        <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
            <li data-target="#carousel-example-2" data-slide-to="3"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block img-responsive" src="~/images/reclama1.jpg" style="width: 840px; height: 460px; object-fit:cover;" alt="First slide">
                <div class="carousel-caption d-none d-md-block" style="background: rgba(0, 0, 0, 0.50);">
                    <h5>SURSA TA DE ENERGIE</h5>
                    <p></p>
                </div>

            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <img class="d-block img-responsive" src="~/images/reclama2.jpg" style="width: 840px; height: 460px; object-fit:cover;" alt="Second slide">
                <div class="carousel-caption d-none d-md-block" style="background: rgba(0, 0, 0, 0.50);">
                    <h5>SURSA TA DE ENERGIE</h5>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <img class="d-block img-responsive" src="~/images/reclama3.jpg" style="width: 840px; height: 460px; object-fit:cover;" alt="Second slide">
                <div class="carousel-caption d-none d-md-block" style="background: rgba(0, 0, 0, 0.50);">
                    <h5>SURSA TA DE ENERGIE</h5>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <img class="d-block img-responsive" src="~/images/reclama4.jpg" style="width: 840px; height: 460px; object-fit:cover;" alt="Second slide">
                <div class="carousel-caption d-none d-md-block" style="background: rgba(0, 0, 0, 0.50);">
                    <h5>SURSA TA DE ENERGIE</h5>
                    <p></p>
                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
    </div>
    <div class="col">
        <h1>Despre noi</h1>
        <h3>Beneficii pentru proprietari și locatari</h3>
        <p>
            Produsele și serviciile noastre oferă transparența consumului individual de 
        energie pentru clienții noștri, astfel încât aceștia pot economisi energie, 
        reduce costurile și pot diminua emisiile de CO2. Acest fapt conduce la creșterea 
        eficienței energetice, și prin urmare a valorii proprietății. Și astfel, proprietarii și 
        locatarii clădirilor contribuie activ la protecția mediului. În medie, 
        fiecare gospodărie economisește 20% din consumul său anual de energie termică și implicit, 
        din costurile aferente. Numai în Germania, în fiecare an, sunt evitate emisii 
        de circa patru milioane de tone de CO2 de către clienții noștri.
        </p>
        <h3>Tehnologia invinge</h3>
        <p>
            Lumea produselor și serviciilor noastre este una digitală. Aparatele noastre fac 
            posibilă administrarea ușoară a clădirii pe bază de date de consum, eliminând în 
            special citirea tradițională în locație a aparatelor. Acest fapt crește confortul 
            pentru proprietari și locatari, prin eliminarea termenelor pentru citirea aparatelor și 
            a timpilor de așteptare, reducând și timpul de gestionare a datelor și proceselor.
        </p>
        <p>
            Infrastructura noastră digitală poate fi folosită și pentru alte aplicații, 
            cum ar fi alarmele de fum digitale care pot fi deservite de la distanță, 
            crescând prin urmare siguranța proprietarilor și locatarilor.
        </p>
    </div>
</div>




<!-- Remove the container if you want to extend the Footer to full width. -->

<!-- Footer -->
<!-- End of .container -->
