@model IEnumerable<ApplicationUser>
@{
    //Layout = null;
    ViewBag.Title = "List Users";


}
<!DOCTYPE html>
<html>

<body>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background: #fafafa;
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 1.1em;
            font-weight: 300;
            line-height: 1.7em;
            color: #999;
        }

        a, a:hover, a:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }

       

        ul ul a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            background: #28A745;
        }
    </style>

        <div class="container">
            <h1>All Users</h1>

            @if (Model.Any())
            {
                <a asp-action="Register" asp-controller="Account"
                   class="btn btn-primary mb-3" style="width:auto">
                    Adauga utilizator nou
                </a>

                foreach (var user in Model)
                {
                    <div class="card mb-3">
                        <div class="card-header">
                            User Id : @user.Id
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@user.UserName</h5>
                        </div>
                        <div class="card-footer">
                            <form method="post" asp-action="DeleteUser" asp-route-id="@user.Id">
                                <a asp-action="EditUser" asp-controller="Administration"
                                   asp-route-id="@user.Id" class="btn text-white" style="background-color:#A5CF39;">Modifica</a>

                                <button type="submit" class="btn btn-danger">Sterge</button>
                            </form>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="card">
                    <div class="card-header">
                        No users created yet
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            Use the button below to create a user
                        </h5>
                        <a class="btn btn-primary" style="width:auto"
                           asp-controller="Account" asp-action="Register">
                            Adauga utilizator nou
                        </a>
                    </div>
                </div>
            }
        </div>
</body>
</html>